body {
	background: #e6e6e6;
	letter-spacing: 0px;
	font-family: Roboto;
}

#header {
/*#header, #header * {*/
	/*opacity: 1 !important;*/
	border-left: 10px solid grey;
	padding-left: 20px;
}

#container {
	max-width: 950px;
	margin: 0 auto;
	margin-top: 120px;
}

#header .title {
	font-family: Roboto;
	font-weight: 600;
	opacity: 0.5;
	font-size: 23px;
	margin-bottom: 10px
}

#header .item, .item input {
	font-family: Roboto;
	opacity: 0.4;
	font-size: 20px;
	margin-bottom: 3px;
}	

.title, /*input*/ {
	width: 100%;
}

#header .item.small {
	font-size: 18px;
	opacity: 0.3;
	margin-top: 10px;
}

#section-links {
	margin-top: 50px;
}

#section-links span {
	cursor: pointer;
	margin-right: 5px;
	opacity: 0.6;
}

#section-links .active {
	font-weight: bold;
}

input {
	background: none;
	border: none;
	font-size: 20px;
	font-family: Roboto;
}

input:focus{
	outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

body {
	overflow: auto;
}

table {
	border-collapse: collapse;
	/*border-spacing: 10px 0;*/
}

td,th {
  border-left: 10px solid #e6e6e6;
}

 tr>td:first-child {
   border:0px;
 }

 tr>th:first-child {
   border:0px;
 }

td, th {
	width: 40px;
	height: 40px;
	/*background: red;
	color: white;*/
	text-align: center;
	/*box-sizing: border-box;*/

}

th {
	opacity: 0.5;
}

.currentPeriod {
	color: #9dc78d;
	font-size: 20px;
}

.big {
	font-size: 25px !important;
}

.habit-title {
	text-align: left;
	max-width: 600px;
	min-width: 400px;
	padding-left: 5px;
	opacity: 0.5;
	/*background: red;*/
}

.complete.previousPeriod, .complete.currentPeriod {
	background: #9dc78d;
}

.incomplete.currentPeriod {
	background: rgba(255,255,255,0.6);
	/*border: 1px solid #9dc78d;*/
}

.incomplete.previousPeriod {
	background: rgba(255,255,255,0.6);
}

.incomplete, .complete {
	cursor: pointer;
}

.currentPeriod.active:hover, .previousPeriod.active:hover {
	opacity: 0.4;
}

.complete.currentPeriod {
	color: rgba(255,255,255,1);
}


.incomplete.previousPeriod:hover, .incomplete.currentPeriod:hover {
	background: rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.6);
}

.complete.habit-title, .inactive.habit-title {
	opacity: 0.2;
}

th {
	padding-bottom: 5px;
}

.section { 
	margin-top: 50px;
}

.all-complete .currentPeriod {
	background: #3b69dc;
}

.inactive.previousPeriod, .inactive.currentPeriod {
	background: white !important;
}

@media (max-width: 1050px) {
    #container {
    	margin-left: 50px;
    }
}